In [1]:
import requests
import os
import pandas as pd
import json
import warnings
import mysql.connector
import http.client
from pickle import dumps
import http.client
import funs_gcloud as gc


from amadeus import Client, ResponseError, Location
from google.cloud import storage

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'credentials.json'
warnings.filterwarnings('ignore')

In [2]:
#Creacion objeto BDD
db = mysql.connector.connect(
    host='34.175.220.137',
    user='root',
    password='Fernando_00',
    database='demo'
)

Descarga de listado de todos los aeropuertos de la API amadeus

In [3]:
def get_eur_airports(_code):
    
    amadeus = Client(client_id='UnpIFpHb1A2LbO2l0WkYgHBqIho5Ul8n', client_secret='xflHgGy3788GCUvB')
    airports = []
    
    try:
        response = amadeus.reference_data.locations.get(
            keyword=_code,
            subType='AIRPORT',
            view='FULL',
            page={'limit': 200})
        
        while response.data:
            for airport in response.data:
                if airport['address']['regionCode'] == 'EUROP' and airport['address']['countryCode']==_code:  
                    airports.append(airport)
            
            if 'next' in response.result['meta']: response = amadeus.next(response.result['meta']['next']) 
            else: break
        return airports 

    except Exception as e:
        print(f"Error: {e}")

In [7]:
#Hay veces que devuelve un error '429', pero es debido a la saturacion de la API, volver a ejecutar el codigo
country_code = ['ES', 'FR', 'DE', 'GB', 'IT']
json_airps = []

#Como proxima mejora, a√±adir timer de 1 segundo entre llamadas
for country in country_code:
    json_airps.extend(get_eur_airports(country))

In [8]:
#Llamamos a archivo funs_gcloud.py para subir todos los aeropuertos al bucket
gc.upload_to_gcloud(json_airps)

File MADRID/ES:ADOLFO SUAREZ BARAJA uploaded successfully
File BARCELONA/ES:AIRPORT uploaded successfully
File PALMA DE MALLORCA/ES:PALMA DE uploaded successfully
File MALAGA/ES:MALAGA AIRPORT uploaded successfully
File GRAN CANARIA/ES:GRAN CANARIA uploaded successfully
File ALICANTE/ES:ALICANTE AIRPORT uploaded successfully
File TENERIFE/ES:TENERIFE SUR uploaded successfully
File IBIZA/ES:IBIZA uploaded successfully
File LANZAROTE/ES:LANZAROTE uploaded successfully
File VALENCIA/ES:VALENCIA AIRPORT uploaded successfully
File FUERTEVENTURA/ES:FUERTEVENTURA uploaded successfully
File TENERIFE/ES:TENERIFE NORTE uploaded successfully
File MENORCA/ES uploaded successfully
File BILBAO/ES:BILBAO AIRPORT uploaded successfully
File SEVILLA/ES:SEVILLA AIRPORT uploaded successfully
File SANTIAGO DE COMPOSTELA/ES uploaded successfully
File GIRONA/ES:COSTA BRAVA uploaded successfully
File ASTURIAS/ES:ASTURIAS uploaded successfully
File SANTA CRUZ DE LA PALMA/ES:LA P uploaded successfully
File MURCIA/ES:SAN JAVIER uploaded successfully
File ALMERIA/ES uploaded successfully
File REUS/ES uploaded successfully
File VIGO/ES:VIGO AIRPORT uploaded successfully
File A CORUNA/ES:A CORUNA AIRPORT uploaded successfully
File SANTANDER/ES:SANTANDER AIRPORT uploaded successfully
File JEREZ/ES:JEREZ AIRPORT uploaded successfully
File GRANADA/ES:FEDERICO GARCIA LOR uploaded successfully
File ZARAGOZA/ES:ZARAGOZA uploaded successfully
File MELILLA/ES uploaded successfully
File SAN SEBASTIAN/ES:SAN SEBASTIAN uploaded successfully
File VALLADOLID/ES:AIRPORT uploaded successfully
File PAMPLONA/ES uploaded successfully
File VALVERDE/ES:EL HIERRO uploaded successfully
File CASTELLON DE LA PLANA/ES:CASTE uploaded successfully
File SAN SEBASTIAN GOMERA/ES:LA GOM uploaded successfully
File BADAJOZ/ES:BADAJOZ uploaded successfully
File LEON/ES:LEON uploaded successfully
File LLEIDA/ES:ALGUAIRE uploaded successfully
File LOGRONO/ES:AGONCILLO uploaded successfully
File VITORIA/ES uploaded successfully
File SALAMANCA/ES:SALAMANCA AIRPORT uploaded successfully
File ALBACETE/ES:AIRPORT uploaded successfully
File CIUDAD REAL/ES:CENTRAL uploaded successfully
File HUESCA/ES:PIRINEOS uploaded successfully
File SEO DE URGEL/ES uploaded successfully
File CORDOBA/ES:CORDOBA AIRPORT uploaded successfully
File MORON/ES:AIR BASE uploaded successfully
File BURGOS/ES uploaded successfully
File MURCIA/ES:INTL REGION DE MURCI uploaded successfully
File ROTA/ES:US NAVAL STATION uploaded successfully
File TERUEL/ES:AIRPORT uploaded successfully
File MADRID/ES:TORREJON uploaded successfully
File PARIS/FR:CHARLES DE GAULLE uploaded successfully
File PARIS/FR:ORLY uploaded successfully
File NICE/FR:COTE D AZUR uploaded successfully
File LYON/FR:SAINT EXUPERY uploaded successfully
File MARSEILLE/FR:PROVENCE uploaded successfully
File TOULOUSE/FR:BLAGNAC uploaded successfully
File BORDEAUX/FR:MERIGNAC uploaded successfully
File NANTES/FR:ATLANTIQUE uploaded successfully
File PARIS/FR:BEAUVAIS TILLE uploaded successfully
File LE TOUQUET PARIS PLAGE/FR uploaded successfully
File LILLE/FR:LESQUIN uploaded successfully
File AJACCIO/FR:NAPOLEON BONAPARTE uploaded successfully
File MONTPELLIER/FR:MEDITERRANEE uploaded successfully
File BASTIA/FR:PORETTA uploaded successfully
File BIARRITZ/FR:PAYS BASQUE uploaded successfully
File STRASBOURG/FR:ENTZHEIM uploaded successfully
File BREST/FR:BRETAGNE uploaded successfully
File FIGARI/FR:SUD CORSE uploaded successfully
File MULHOUSE BASEL/FR:MULHOUSE EUR uploaded successfully
File RENNES/FR:ST JACQUES uploaded successfully
File PAU/FR:PYRENEES uploaded successfully
File LYON/FR:GRENOBLE SAINT GEOIRS uploaded successfully
File TOULON/HYERES/FR:LA PALYVESTRE uploaded successfully
File CALVI/FR:STE CATHERINE uploaded successfully
File CLERMONT FERRAND/FR:AUVERGNE uploaded successfully
File PERPIGNAN/FR:RIVESALTES uploaded successfully
File CARCASSONNE/FR:SALVAZA uploaded successfully
File METZ NANCY/FR:LORRAINE uploaded successfully
File LIMOGES/FR:BELLEGARDE uploaded successfully
File LOURDES TARBES/FR:PYRENEES uploaded successfully
File BERGERAC/FR:ROUMANIERE uploaded successfully
File CHAMBERY AIX LES BAINS/FR uploaded successfully
File PARIS/FR:CHALONS VATRY uploaded successfully
File BEZIERS/FR:VIAS uploaded successfully
File ANGERS/FR:MARCE uploaded successfully
File TOURS/FR:VAL DE LOIRE uploaded successfully
File LA ROCHELLE/FR:ILE DE RE uploaded successfully
File NIMES/FR:GARONS uploaded successfully
File ST ETIENNE/FR:BOUTHEON uploaded successfully
File CAEN/FR:CARPIQUET uploaded successfully
File LORIENT/FR:LANN BIHOUE uploaded successfully
File CHATEAUROUX/FR:DEOLS uploaded successfully
File POITIERS/FR:BIARD uploaded successfully
File QUIMPER/FR:PLUGUFFAN uploaded successfully
File DINARD ST MALO/FR:PLEURTUIT uploaded successfully
File DOLE/FR:TAVAUX uploaded successfully
File DEAUVILLE/FR:ST GATIEN uploaded successfully
File BRIVE LA GAILLARD/FR:VALLEE DE uploaded successfully
File CASTRES/FR:MAZAMET uploaded successfully
File RODEZ/FR:MARCILLAC uploaded successfully
File AGEN/FR:LA GARENNE uploaded successfully
File AURILLAC/FR uploaded successfully
File LANNION/FR:LANNION uploaded successfully
File AVIGNON/FR:CAUMONT uploaded successfully
File LE PUY/FR:LOUDES uploaded successfully
File PERIGUEUX/FR:BASSILLAC uploaded successfully
File PARIS/FR:LE BOURGET uploaded successfully
File EPINAL/FR:MIRECOURT uploaded successfully
File DIJON/FR:LONGVIC uploaded successfully
File ST NAZAIRE/FR:MONTOIR uploaded successfully
File L'ALPE D'HUEZ/FR uploaded successfully
File ANGOULEME/FR:BRIE-CHAMPNIERS uploaded successfully
File AUXERRE/FR:BRANCHES uploaded successfully
File BARCELONNETTE/FR:ST PONS uploaded successfully
File BELLE ILE/FR:EN MER uploaded successfully
File BOURGES/FR uploaded successfully
File ALBERT/FR:BRAY uploaded successfully
File CANNES/FR:MANDELIEU uploaded successfully
File CHERBOURG/FR:MAUPERTUS uploaded successfully
File CHOLET/FR:LE PONTREAU uploaded successfully
File COLMAR/FR:HOUSSEN uploaded successfully
File COGNAC/FR:CHATEAUBERNARD uploaded successfully
File CALAIS/DUNKERQUE/FR uploaded successfully
File CREIL/FR uploaded successfully
File LE CASTELLET/FR uploaded successfully
File COURCHEVEL/FR uploaded successfully
File DIEPPE/FR:ST AUBIN uploaded successfully
File LA ROCHE SUR YON/FR:LES AJONCS uploaded successfully
File METZ NANCY/FR:NANCY ESSEY uploaded successfully
File EVREUX/FR:FAUVILLE uploaded successfully
File GAP/FR:TALLARD uploaded successfully
File GRANVILLE/FR uploaded successfully
File HAZEBROUCK/FR:MERVILLE COLONNE uploaded successfully
File ILE D'YEU/FR uploaded successfully
File CITY NAME TEST/FR:CITY NAME TE uploaded successfully
File ALBI/FR:LE SEQUESTRE uploaded successfully
File LA BAULE ESCOUBLAC/FR uploaded successfully
File LANDIVISIAU/FR uploaded successfully
File LE HAVRE/FR:OCTEVILLE uploaded successfully
File LE MANS/FR:ARNAGE uploaded successfully
File LES SABLES-D'OLONNE/FR:TALMONT uploaded successfully
File ST TROPEZ/FR:LA MOLE uploaded successfully
File LAVAL/FR:ENTRAMMES uploaded successfully
File LYON/FR:BRON uploaded successfully
File MONTLUCON/FR:GUERET uploaded successfully
File MENDE/FR:BRENOUX uploaded successfully
File MERIBEL/FR uploaded successfully
File MEGEVE/FR uploaded successfully
File MORLAIX/FR:PLOUJEAN uploaded successfully
File METZ NANCY/FR:METZ-FRESCATY uploaded successfully
File ANNECY/FR:MEYTHET uploaded successfully
File NIORT/FR:SOUCHE uploaded successfully
File NEVERS/FR:FOURCHAMBAULT uploaded successfully
File AUBENAS/FR:ARDECHE MERIDIONALE uploaded successfully
File ORLEANS/FR:ST DENIS DE L HOTEL uploaded successfully
File OUESSANT/FR:OUESSANT uploaded successfully
File PARIS/FR:PONTOISE CORMEILLES uploaded successfully
File PROPRIANO/FR uploaded successfully
File ROCHEFORT/FR:SAINT AGNANT uploaded successfully
File REIMS/FR:CHAMPAGNE uploaded successfully
File ROANNE/FR:RENAISON uploaded successfully
File ROYAN/FR:MEDIS uploaded successfully
File ST BRIEUC/FR:ARMOR uploaded successfully
File MONT DAUPHIN/FR:ST CREPIN uploaded successfully
File SOLENZARA/FR uploaded successfully
File ST YAN/FR uploaded successfully
File TOUSSUS LE NOBLE/FR:TOUSSUS LE uploaded successfully

File ROUEN/FR:VALLEE DE SEINE uploaded successfully
File VALENCE/FR:CHABEUIL uploaded successfully
File VAL-D'ISERE/FR:VAL-D'ISERE uploaded successfully
File VICHY/FR:CHARMEIL uploaded successfully
File PARIS/FR:VILLACOUBLAY VELIZY uploaded successfully
File VANNES/FR:MEUCON uploaded successfully
File VITTEL/FR:CHAMP DE COURSES uploaded successfully
File CAHORS/FR:LALBENQUE uploaded successfully
File FRANKFURT/DE:FRANKFURT INTL uploaded successfully
File MUNICH/DE:MUNICH INTERNATIONAL uploaded successfully
File BERLIN/DE:BRANDENBURG uploaded successfully
File DUESSELDORF/DE:DUESSELDORF uploaded successfully
File BERLIN/DE:TEGEL uploaded successfully
File HAMBURG/DE:HAMBURG uploaded successfully
File COLOGNE/BONN/DE:COLOGNE/BONN uploaded successfully
File STUTTGART/DE:STUTTGART AIRPORT uploaded successfully
File HANNOVER/DE:HANNOVER uploaded successfully
File NUREMBERG/DE:NUREMBERG AIRPORT uploaded successfully
File FRANKFURT/DE:HAHN AIRPORT uploaded successfully
File BREMEN/DE:BREMEN uploaded successfully
File LEIPZIG/HALLE/DE:LEIPZIG/HALLE uploaded successfully
File DORTMUND/DE:DORTMUND uploaded successfully
File DUESSELDORF/DE:WEEZE AIRPORT uploaded successfully
File DRESDEN/DE:DRESDEN uploaded successfully
File KARLSRUHE/BADEN BADEN/DE:BADEN uploaded successfully
File MEMMINGEN/DE:ALLGAEU uploaded successfully
File MUENSTER/OSNABRUECK/DE:MUENSTE uploaded successfully
File FRIEDRICHSHAFEN/DE:FRIEDRICHSH uploaded successfully
File PADERBORN/LIPPSTADT/DE:PADERBO uploaded successfully
File SAARBRUECKEN/DE:SAARBRUECKEN A uploaded successfully
File ERFURT/DE:ERFURT-WEIMAR uploaded successfully
File ROSTOCK/DE:LAAGE uploaded successfully
File RAMSTEIN/DE:AIR BASE uploaded successfully
File WESTERLAND/DE:SYLT uploaded successfully
File HAMBURG/DE:LUEBECK uploaded successfully
File HAMBURG/DE:FINKENWERDER uploaded successfully
File KASSEL/DE:CALDEN uploaded successfully
File MANNHEIM/DE:CITY AIRPORT uploaded successfully
File HERINGSDORF/DE uploaded successfully
File MUNICH/DE:AUGSBURG AIRPORT uploaded successfully
File BRAUNSCHWEIG/WOLFSBURG/DE:BRAU uploaded successfully
File STRAUBING/DE:WALLMUEHLE uploaded successfully
File KIEL/DE:HOLTENAU uploaded successfully
File AACHEN/DE:MERZBRUECK uploaded successfully
File WANGEROOGE/DE uploaded successfully
File ALTENBURG/DE:NOBITZ uploaded successfully
File STRALSUND/DE:BARTH uploaded successfully
File BITBURG/DE uploaded successfully
File BIELEFELD/DE:WINDELSBLEICHE uploaded successfully
File BORKUM/DE uploaded successfully
File BALTRUM/DE:BALTRUM uploaded successfully
File BREMERHAVEN/DE:BREMERHAVEN uploaded successfully
File BAYREUTH/DE:BINDLACHER BERG uploaded successfully
File COTTBUS/DE:DREWITZ APT uploaded successfully
File MAGDEBURG/DE:COCHSTEDT uploaded successfully
File EISENACH/DE:KINDEL AIRPORT uploaded successfully
File EMDEN/DE uploaded successfully
File ESSEN/DE:MUELHEIM uploaded successfully
File NEUMUENSTER/DE uploaded successfully
File CUXHAVEN/DE:NORDHOLZ AIRPORT uploaded successfully
File FUERSTENFELDBRUCK/DE uploaded successfully
File FLENSBURG/DE:SCHAEFERHAUS AIRP uploaded successfully
File NEUBRANDENBURG/DE:TROLLENHAGEN uploaded successfully
File FRITZLAR/DE:FRITZLAR APT uploaded successfully
File GIEBELSTADT/DE uploaded successfully
File GEILENKIRCHEN/DE:AIR BASE uploaded successfully
File GUETTIN/DE uploaded successfully
File GUETERSLOH/DE:GUETERSLOH uploaded successfully
File HEIDELBERG/DE:AAF AIRPORT uploaded successfully
File HEIDE/BUESUM/DE uploaded successfully
File HELGOLAND/DE:DUENE uploaded successfully
File HOF/DE:PLAUEN uploaded successfully
File RIESA/DE:GOEHLIS uploaded successfully
File INGOLSTADT/DE:MANCHING uploaded successfully
File ILLESHEIM/DE uploaded successfully
File ITZEHOE/DE:EDHF AIRPORT uploaded successfully
File JUIST/DE uploaded successfully
File KOETHEN/DE:KOETHEN uploaded successfully
File KITZINGEN/DE uploaded successfully
File LANGEOOG/DE uploaded successfully
File LAHR/DE:BLACK FOREST uploaded successfully
File DUESSELDORF/DE:MOENCHENGLADBAC uploaded successfully
File NORDEN/DE:NORDDEICH uploaded successfully
File NORDERNEY/DE uploaded successfully
File OBERPFAFFENHOFEN/DE uploaded successfully
File WYK AUF FOEHR/DE uploaded successfully
File PEENEMUENDE/DE uploaded successfully
File ST PETER ORDING/DE uploaded successfully
File HUSUM/DE:SCHWESING uploaded successfully
File STRAUSBERG/DE uploaded successfully
File RECHLIN/DE:LAERZ uploaded successfully
File SIEGEN/DE:SIEGERLAND uploaded successfully
File SPANGDAHLEM/DE:AIR BASE uploaded successfully
File SCHWERIN/DE:PARCHIM uploaded successfully
File BURG FEUERSTEIN/DE uploaded successfully
File VARRELBUSCH/DE uploaded successfully
File SCHLESWIG/DE:JAGEL uploaded successfully
File WIESBADEN/DE:AAF uploaded successfully
File WILHELMSHAVEN/DE:MARIENSIEL uploaded successfully
File LEMWERDER/DE uploaded successfully
File SAARBRUECKEN/DE:ZWEIBRUECKEN uploaded successfully
File FICTITIOUS POINT/DE:GE uploaded successfully
File LONDON/GB:HEATHROW uploaded successfully
File LONDON/GB:GATWICK uploaded successfully
File MANCHESTER/GB:MANCHESTER AIRPO uploaded successfully
File LONDON/GB:STANSTED uploaded successfully
File LONDON/GB:LUTON uploaded successfully
File BIRMINGHAM/GB:BIRMINGHAM uploaded successfully
File EDINBURGH/GB:AIRPORT uploaded successfully
File GLASGOW/GB:GLASGOW INTL uploaded successfully
File BRISTOL/GB:BRISTOL uploaded successfully
File LONDON/GB:CITY AIRPORT uploaded successfully
File NEWCASTLE/GB:INTERNATIONAL uploaded successfully
File BELFAST/GB:INTERNATIONAL uploaded successfully
File NOTTINGHAM/GB:NOTTINGHAM AIRPO uploaded successfully
File NOTTINGHAM/GB:EAST MIDLANDS uploaded successfully
File LIVERPOOL/GB:JOHN LENNON uploaded successfully
File ABERDEEN/GB:DYCE uploaded successfully
File LEEDS BRADFORD/GB:AIRPORT uploaded successfully
File LYDD/GB:LONDON ASHFORD uploaded successfully
File SOUTHAMPTON/GB uploaded successfully
File SHETLAND ISLANDS/GB:LERWICK/TI uploaded successfully
File BELFAST/GB:GEORGE BEST CITY AP uploaded successfully
File KIRKWALL/GB:KIRKWALL uploaded successfully
File CARDIFF/GB:CARDIFF uploaded successfully
File JERSEY/GB:JERSEY uploaded successfully
File ISLE OF MAN/GB:RONALDSWAY uploaded successfully
File GUERNSEY/GB uploaded successfully
File DONCASTER/SHEFFIELD/GB:ROBIN H uploaded successfully
File INVERNESS/GB:AIRPORT uploaded successfully
File LAND'S END/GB:ST JUST uploaded successfully
File EXETER/GB uploaded successfully
File LONDON/GB:SOUTHEND uploaded successfully
File FAIR ISLE/GB uploaded successfully
File NEWQUAY/GB:CORNWALL uploaded successfully
File ISLES OF SCILLY/GB:ST MARYS uploaded successfully
File BOURNEMOUTH/GB:BOURNEMOUTH INT uploaded successfully
File GLASGOW/GB:PRESTWICK uploaded successfully
File SHETLAND ISLANDS/GB:SUMBURGH uploaded successfully
File FOULA/GB uploaded successfully
File NORWICH/GB:INTERNATIONAL uploaded successfully
File SANDAY/GB uploaded successfully
File STRONSAY/GB uploaded successfully
File WESTRAY/GB uploaded successfully
File PAPA WESTRAY/GB uploaded successfully
File NORTH RONALDSAY/GB uploaded successfully
File STORNOWAY/GB uploaded successfully
File DERRY/GB:EGLINTON uploaded successfully
File HUMBERSIDE/GB:HUMBERSIDE uploaded successfully
File PAPA STOUR/GB uploaded successfully
File OUT SKERRIES/GB uploaded successfully
File TEESSIDE/GB:TEESSIDE INTERNATI uploaded successfully
File BENBECULA/GB uploaded successfully
File ALDERNEY/GB uploaded successfully
File WICK/GB uploaded successfully
File DUNDEE/GB:AIRPORT uploaded successfully
File BLACKPOOL/GB uploaded successfully
File EDAY/GB uploaded successfully
File GLOUCESTER CHELTENHAM/GB:GLOUC uploaded successfully
File ISLAY/GB uploaded successfully
File ANGLESEY/GB:VALLEY uploaded successfully
File CHESTER/GB:HAWARDEN uploaded successfully
File TIREE/GB uploaded successfully
File CAMPBELTOWN/GB uploaded successfully
File BARRA/GB uploaded successfully
File CAMBRIDGE/GB uploaded successfully
File HARROGATE/GB:LINTON ON OUSE RA uploaded successfully
File ST ANDREWS/GB:LEUCHARS RAF uploaded successfully
File BEMBRIDGE/GB uploaded successfully
File BLACKBUSHE/GB uploaded successfully
File BURY ST EDMUNDS/GB:HONINGTON R uploaded successfully
File BENSON/GB:RAF STATION uploaded successfully

File BALLYKELLY/GB uploaded successfully
File LONDON/GB:BIGGIN HILL uploaded successfully
File BARROW IN FURNESS/GB uploaded successfully
File BRIZE NORTON/GB:RAF STATION uploaded successfully
File CARLISLE/GB uploaded successfully
File COLL ISLAND/GB uploaded successfully
File COLONSAY/GB uploaded successfully
File COVENTRY/GB uploaded successfully
File DORNOCH/GB uploaded successfully
File ENNISKILLEN/GB:ST ANGELO uploaded successfully
File SHOREHAM BY SEA/GB uploaded successfully
File FARNBOROUGH/GB uploaded successfully
File FETLAR/GB uploaded successfully
File FAIRFORD/GB:RAF STATION uploaded successfully
File FLOTTA/GB uploaded successfully
File FORRES/GB:KINLOSS RAF uploaded successfully
File FILTON/GB uploaded successfully
File KEMBLE/GB:COTSWOLD uploaded successfully
File HAVERFORDWEST/GB uploaded successfully
File HOY/GB:LONGHOPE uploaded successfully
File HIGH WYCOMBE/GB:AIR PARKER BOO uploaded successfully
File KING'S LYNN/GB:MARHAM RAF uploaded successfully
File BRANDON/GB:LAKENHEATH RAF uploaded successfully
File LOSSIEMOUTH/GB:RAF STATION uploaded successfully
File LYNEHAM/GB:RAF STATION uploaded successfully
File MILDENHALL/GB:RAF STATION uploaded successfully
File MANSTON/GB:KENT INTL uploaded successfully
File NORTHOLT/GB:RAF STATION uploaded successfully
File OBAN/GB:NORTH CONNEL uploaded successfully
File ODIHAM/GB:RAF STATION uploaded successfully
File OAKHAM/GB:COTTESMORE RAF uploaded successfully
File NORTHAMPTON/GB:SYWELL uploaded successfully
File OXFORD/GB:LONDON OXFORD uploaded successfully
File PLYMOUTH/GB:CITY AIRPORT uploaded successfully
File PERTH/GB:SCONE uploaded successfully
File CONINGSBY/GB:RAF STATION uploaded successfully
File CHICHESTER/GB:GOODWOOD uploaded successfully
File WYTON/GB:RAF STATION uploaded successfully
File ROCHESTER/GB uploaded successfully
File SHETLAND ISLANDS/GB:SCATSTA uploaded successfully
File SKYE/GB:BROADFORD uploaded successfully
File SCAMPTON/GB:RAF STATION uploaded successfully
File SWANSEA/GB uploaded successfully
File MULL/GB uploaded successfully
File UNST/GB:BALTASOUND uploaded successfully
File UPAVON/GB uploaded successfully
File WOODFORD/GB:WOODFORD uploaded successfully
File WHALSAY/GB uploaded successfully
File WARTON/GB uploaded successfully
File WADDINGTON/GB:RAF STATION uploaded successfully
File YEOVILTON/GB:ROYAL NAVAL AIR S uploaded successfully
File ROME/IT:FIUMICINO uploaded successfully
File MILAN/IT:MALPENSA uploaded successfully
File MILAN/IT:BERGAMO ORIO AL SERIO uploaded successfully
File VENICE/IT:MARCO POLO uploaded successfully
File MILAN/IT:LINATE uploaded successfully
File BOLOGNA/IT:GUGLIELMO MARCONI uploaded successfully
File CATANIA/IT:FONTANAROSSA uploaded successfully
File NAPLES/IT:CAPODICHINO AIRPORT uploaded successfully
File PISA/IT:GALILEO GALILEI uploaded successfully
File ROME/IT:CIAMPINO uploaded successfully
File PALERMO/IT:PUNTA RAISI uploaded successfully
File TURIN/IT:CASELLE uploaded successfully
File BARI/IT:PALESE uploaded successfully
File VERONA/IT:VILLAFRANCA uploaded successfully
File CAGLIARI/IT:ELMAS uploaded successfully
File OLBIA/IT:COSTA SMERALDA uploaded successfully
File FLORENCE/IT:PERETOLA uploaded successfully
File VENICE/IT:TREVISO SANT ANGELO uploaded successfully
File LAMEZIA TERME/IT:LAMEZIA TERME uploaded successfully
File BRINDISI/IT:CASALE uploaded successfully
File TRAPANI/IT:BIRGI uploaded successfully
File ALGHERO/IT:FERTILIA uploaded successfully
File GENOA/IT:CRISTOFORO COLOMBO uploaded successfully
File ANCONA/IT:FALCONARA uploaded successfully
File TRIESTE/IT:RONCHI DEI LEGIONAR uploaded successfully
File PESCARA/IT:ABRUZZO uploaded successfully
File REGGIO DI CALABRIA/IT uploaded successfully
File COMISO/IT:VINCENZO MAGLIOCCO uploaded successfully
File LAMPEDUSA/IT uploaded successfully
File PERUGIA/IT:ST. FRANCIS OF ASSI uploaded successfully
File RIMINI/IT:MIRAMARE uploaded successfully
File PANTELLERIA/IT uploaded successfully
File CUNEO/IT:LEVALDIGI uploaded successfully
File MILAN/IT:PARMA uploaded successfully
File CROTONE/IT uploaded successfully
File VERONA/IT:BRESCIA MONTECHIARI uploaded successfully
File ELBA ISLAND/IT:MARINA DI CAMPO uploaded successfully
File SIGONELLA/IT:NAS uploaded successfully
File ALBENGA/IT uploaded successfully
File AOSTA/IT:CORRADO GEX AIRPORT uploaded successfully
File AVIANO/IT:AIR BASE uploaded successfully
File BELLUNO/IT uploaded successfully
File BOLZANO BOZEN/IT:DOLOMITI uploaded successfully
File DECIMOMANNU/IT:AIR BASE uploaded successfully
File ORISTANO/IT:FENOSU uploaded successfully
File FOGGIA/IT:GINO LISA uploaded successfully
File FORLI/IT:LUIGI RIDOLFI uploaded successfully
File GROSSETO/IT:CORRADO BACCARINI uploaded successfully
File LECCE/IT:GALATINA uploaded successfully
File LUCCA/IT:TASSIGNANO uploaded successfully
File L'AQUILA/IT:L'AQUILA uploaded successfully
File SALERNO/IT:PONTECAGNANO uploaded successfully
File RAVENNA/IT uploaded successfully
File SIENA/IT:AMPUGNANO uploaded successfully
File TARANTO/IT:GROTTAGLIE uploaded successfully
File TORTOLI/IT:ARBATAX uploaded successfully
File UDINE/IT:CAMPOFORMIDO uploaded successfully
File VICENZA/IT uploaded successfully
450 files out of a total 450 have been successfully uploaded

In [9]:
#Llamamos a archivo funs_gcloud.py para obtener el nombre de los archivos todos los aeropuertos
airp_list = gc.getFilesList('airports/')

In [11]:
for airp in airp_list:
   
    try:
        file = gc.getFile(airp)
        file = gc.txt_2_json(file)
        cursor = db.cursor()

        query = f"""
            INSERT INTO airports_eur VALUES (
            0,
            '{file['name'].replace("'",'' )}',
            '{file['detailedName'].replace("'",'' )}',
            '{file['id'].replace("'",'' )}',
            '{file['iataCode']}',
            {float(file['geoCode']['latitude'])},
            {float(file['geoCode']['longitude'])},
            '{file['address']['cityName'].replace("'",'' )}',
            '{file['address']['cityCode'].replace("'",'' )}',
            '{file['address']['countryCode'].replace("'",'' )}'
            )
        """   
        cursor.execute(query)
        db.commit()
        print('File {} uploaded successfully to SQL'.format(file['detailedName']))

    except Exception as e:
        print(f"Error: {e}")

File AACHEN/DE:MERZBRUECK uploaded successfully to SQL
File ABERDEEN/GB:DYCE uploaded successfully to SQL
File AGEN/FR:LA GARENNE uploaded successfully to SQL
File AJACCIO/FR:NAPOLEON BONAPARTE uploaded successfully to SQL
File ALBACETE/ES:AIRPORT uploaded successfully to SQL
File ALBENGA/IT uploaded successfully to SQL
File ALBERT/FR:BRAY uploaded successfully to SQL
File ALBI/FR:LE SEQUESTRE uploaded successfully to SQL
File ALDERNEY/GB uploaded successfully to SQL
File ALGHERO/IT:FERTILIA uploaded successfully to SQL
File ALICANTE/ES:ALICANTE AIRPORT uploaded successfully to SQL
File ALMERIA/ES uploaded successfully to SQL
File ALTENBURG/DE:NOBITZ uploaded successfully to SQL
File ANCONA/IT:FALCONARA uploaded successfully to SQL
File ANGERS/FR:MARCE uploaded successfully to SQL
File ANGLESEY/GB:VALLEY uploaded successfully to SQL
File ANGOULEME/FR:BRIE-CHAMPNIERS uploaded successfully to SQL
File ANNECY/FR:MEYTHET uploaded successfully to SQL
File AOSTA/IT:CORRADO GEX AIRPORT uploaded successfully to SQL
File ASTURIAS/ES:ASTURIAS uploaded successfully to SQL
File AUBENAS/FR:ARDECHE MERIDIONALE uploaded successfully to SQL
File AURILLAC/FR uploaded successfully to SQL
File AUXERRE/FR:BRANCHES uploaded successfully to SQL
File AVIANO/IT:AIR BASE uploaded successfully to SQL
File AVIGNON/FR:CAUMONT uploaded successfully to SQL
File A CORUNA/ES:A CORUNA AIRPORT uploaded successfully to SQL
File BADAJOZ/ES:BADAJOZ uploaded successfully to SQL
File BALLYKELLY/GB uploaded successfully to SQL
File BALTRUM/DE:BALTRUM uploaded successfully to SQL
File BARCELONA/ES:AIRPORT uploaded successfully to SQL
File BARCELONNETTE/FR:ST PONS uploaded successfully to SQL
File BARI/IT:PALESE uploaded successfully to SQL
File BARRA/GB uploaded successfully to SQL
File BARROW IN FURNESS/GB uploaded successfully to SQL
File BASTIA/FR:PORETTA uploaded successfully to SQL
File BAYREUTH/DE:BINDLACHER BERG uploaded successfully to SQL
File BELFAST/GB:GEORGE BEST CITY AP uploaded successfully to SQL
File BELFAST/GB:INTERNATIONAL uploaded successfully to SQL
File BELLE ILE/FR:EN MER uploaded successfully to SQL
File BELLUNO/IT uploaded successfully to SQL
File BEMBRIDGE/GB uploaded successfully to SQL
File BENBECULA/GB uploaded successfully to SQL
File BENSON/GB:RAF STATION uploaded successfully to SQL
File BERGERAC/FR:ROUMANIERE uploaded successfully to SQL
File BERLIN/DE:BRANDENBURG uploaded successfully to SQL
File BERLIN/DE:TEGEL uploaded successfully to SQL
File BEZIERS/FR:VIAS uploaded successfully to SQL
File BIARRITZ/FR:PAYS BASQUE uploaded successfully to SQL
File BIELEFELD/DE:WINDELSBLEICHE uploaded successfully to SQL
File BILBAO/ES:BILBAO AIRPORT uploaded successfully to SQL
File BIRMINGHAM/GB:BIRMINGHAM uploaded successfully to SQL
File BITBURG/DE uploaded successfully to SQL
File BLACKBUSHE/GB uploaded successfully to SQL
File BLACKPOOL/GB uploaded successfully to SQL
File BOLOGNA/IT:GUGLIELMO MARCONI uploaded successfully to SQL
File BOLZANO BOZEN/IT:DOLOMITI uploaded successfully to SQL
File BORDEAUX/FR:MERIGNAC uploaded successfully to SQL
File BORKUM/DE uploaded successfully to SQL
File BOURGES/FR uploaded successfully to SQL
File BOURNEMOUTH/GB:BOURNEMOUTH INT uploaded successfully to SQL
File BRANDON/GB:LAKENHEATH RAF uploaded successfully to SQL
File BRAUNSCHWEIG/WOLFSBURG/DE:BRAU uploaded successfully to SQL
File BREMEN/DE:BREMEN uploaded successfully to SQL
File BREMERHAVEN/DE:BREMERHAVEN uploaded successfully to SQL
File BREST/FR:BRETAGNE uploaded successfully to SQL
File BRINDISI/IT:CASALE uploaded successfully to SQL
File BRISTOL/GB:BRISTOL uploaded successfully to SQL
File BRIVE LA GAILLARD/FR:VALLEE DE uploaded successfully to SQL
File BRIZE NORTON/GB:RAF STATION uploaded successfully to SQL
File BURGOS/ES uploaded successfully to SQL
File BURG FEUERSTEIN/DE uploaded successfully to SQL
File BURY ST EDMUNDS/GB:HONINGTON R uploaded successfully to SQL
File CAEN/FR:CARPIQUET uploaded successfully to SQL
File CAGLIARI/IT:ELMAS uploaded successfully to SQL
File CAHORS/FR:LALBENQUE uploaded successfully to SQL
File CALAIS/DUNKERQUE/FR uploaded successfully to SQL
File CALVI/FR:STE CATHERINE uploaded successfully to SQL
File CAMBRIDGE/GB uploaded successfully to SQL
File CAMPBELTOWN/GB uploaded successfully to SQL
File CANNES/FR:MANDELIEU uploaded successfully to SQL
File CARCASSONNE/FR:SALVAZA uploaded successfully to SQL
File CARDIFF/GB:CARDIFF uploaded successfully to SQL
File CARLISLE/GB uploaded successfully to SQL
File CASTELLON DE LA PLANA/ES:CASTE uploaded successfully to SQL
File CASTRES/FR:MAZAMET uploaded successfully to SQL
File CATANIA/IT:FONTANAROSSA uploaded successfully to SQL
File CHAMBERY AIX LES BAINS/FR uploaded successfully to SQL
File CHATEAUROUX/FR:DEOLS uploaded successfully to SQL
File CHERBOURG/FR:MAUPERTUS uploaded successfully to SQL
File CHESTER/GB:HAWARDEN uploaded successfully to SQL
File CHICHESTER/GB:GOODWOOD uploaded successfully to SQL
File CHOLET/FR:LE PONTREAU uploaded successfully to SQL
File CITY NAME TEST/FR:CITY NAME TE uploaded successfully to SQL
File CIUDAD REAL/ES:CENTRAL uploaded successfully to SQL
File CLERMONT FERRAND/FR:AUVERGNE uploaded successfully to SQL
File COGNAC/FR:CHATEAUBERNARD uploaded successfully to SQL
File COLL ISLAND/GB uploaded successfully to SQL
File COLMAR/FR:HOUSSEN uploaded successfully to SQL
File COLOGNE/BONN/DE:COLOGNE/BONN uploaded successfully to SQL
File COLONSAY/GB uploaded successfully to SQL
File COMISO/IT:VINCENZO MAGLIOCCO uploaded successfully to SQL
File CONINGSBY/GB:RAF STATION uploaded successfully to SQL
File CORDOBA/ES:CORDOBA AIRPORT uploaded successfully to SQL
File COTTBUS/DE:DREWITZ APT uploaded successfully to SQL
File COURCHEVEL/FR uploaded successfully to SQL
File COVENTRY/GB uploaded successfully to SQL
File CREIL/FR uploaded successfully to SQL
File CROTONE/IT uploaded successfully to SQL
File CUNEO/IT:LEVALDIGI uploaded successfully to SQL
File CUXHAVEN/DE:NORDHOLZ AIRPORT uploaded successfully to SQL
File DEAUVILLE/FR:ST GATIEN uploaded successfully to SQL
File DECIMOMANNU/IT:AIR BASE uploaded successfully to SQL
File DERRY/GB:EGLINTON uploaded successfully to SQL
File DIEPPE/FR:ST AUBIN uploaded successfully to SQL
File DIJON/FR:LONGVIC uploaded successfully to SQL
File DINARD ST MALO/FR:PLEURTUIT uploaded successfully to SQL
File DOLE/FR:TAVAUX uploaded successfully to SQL
File DONCASTER/SHEFFIELD/GB:ROBIN H uploaded successfully to SQL
File DORNOCH/GB uploaded successfully to SQL
File DORTMUND/DE:DORTMUND uploaded successfully to SQL
File DRESDEN/DE:DRESDEN uploaded successfully to SQL
File DUESSELDORF/DE:DUESSELDORF uploaded successfully to SQL
File DUESSELDORF/DE:MOENCHENGLADBAC uploaded successfully to SQL
File DUESSELDORF/DE:WEEZE AIRPORT uploaded successfully to SQL
File DUNDEE/GB:AIRPORT uploaded successfully to SQL
File EDAY/GB uploaded successfully to SQL
File EDINBURGH/GB:AIRPORT uploaded successfully to SQL
File EISENACH/DE:KINDEL AIRPORT uploaded successfully to SQL
File ELBA ISLAND/IT:MARINA DI CAMPO uploaded successfully to SQL
File EMDEN/DE uploaded successfully to SQL
File ENNISKILLEN/GB:ST ANGELO uploaded successfully to SQL
File EPINAL/FR:MIRECOURT uploaded successfully to SQL
File ERFURT/DE:ERFURT-WEIMAR uploaded successfully to SQL
File ESSEN/DE:MUELHEIM uploaded successfully to SQL
File EVREUX/FR:FAUVILLE uploaded successfully to SQL
File EXETER/GB uploaded successfully to SQL
File FAIRFORD/GB:RAF STATION uploaded successfully to SQL
File FAIR ISLE/GB uploaded successfully to SQL
File FARNBOROUGH/GB uploaded successfully to SQL
File FETLAR/GB uploaded successfully to SQL
File FICTITIOUS POINT/DE:GE uploaded successfully to SQL
File FIGARI/FR:SUD CORSE uploaded successfully to SQL
File FILTON/GB uploaded successfully to SQL
File FLENSBURG/DE:SCHAEFERHAUS AIRP uploaded successfully to SQL
File FLORENCE/IT:PERETOLA uploaded successfully to SQL
File FLOTTA/GB uploaded successfully to SQL
File FOGGIA/IT:GINO LISA uploaded successfully to SQL
File FORLI/IT:LUIGI RIDOLFI uploaded successfully to SQL
File FORRES/GB:KINLOSS RAF uploaded successfully to SQL
File FOULA/GB uploaded successfully to SQL
File FRANKFURT/DE:FRANKFURT INTL uploaded successfully to SQL

File FRANKFURT/DE:HAHN AIRPORT uploaded successfully to SQL
File FRIEDRICHSHAFEN/DE:FRIEDRICHSH uploaded successfully to SQL
File FRITZLAR/DE:FRITZLAR APT uploaded successfully to SQL
File FUERSTENFELDBRUCK/DE uploaded successfully to SQL
File FUERTEVENTURA/ES:FUERTEVENTURA uploaded successfully to SQL
File GAP/FR:TALLARD uploaded successfully to SQL
File GEILENKIRCHEN/DE:AIR BASE uploaded successfully to SQL
File GENOA/IT:CRISTOFORO COLOMBO uploaded successfully to SQL
File GIEBELSTADT/DE uploaded successfully to SQL
File GIRONA/ES:COSTA BRAVA uploaded successfully to SQL
File GLASGOW/GB:GLASGOW INTL uploaded successfully to SQL
File GLASGOW/GB:PRESTWICK uploaded successfully to SQL
File GLOUCESTER CHELTENHAM/GB:GLOUC uploaded successfully to SQL
File GRANADA/ES:FEDERICO GARCIA LOR uploaded successfully to SQL
File GRANVILLE/FR uploaded successfully to SQL
File GRAN CANARIA/ES:GRAN CANARIA uploaded successfully to SQL
File GROSSETO/IT:CORRADO BACCARINI uploaded successfully to SQL
File GUERNSEY/GB uploaded successfully to SQL
File GUETERSLOH/DE:GUETERSLOH uploaded successfully to SQL
File GUETTIN/DE uploaded successfully to SQL
File HAMBURG/DE:FINKENWERDER uploaded successfully to SQL
File HAMBURG/DE:HAMBURG uploaded successfully to SQL
File HAMBURG/DE:LUEBECK uploaded successfully to SQL
File HANNOVER/DE:HANNOVER uploaded successfully to SQL
File HARROGATE/GB:LINTON ON OUSE RA uploaded successfully to SQL
File HAVERFORDWEST/GB uploaded successfully to SQL
File HAZEBROUCK/FR:MERVILLE COLONNE uploaded successfully to SQL
File HEIDELBERG/DE:AAF AIRPORT uploaded successfully to SQL
File HEIDE/BUESUM/DE uploaded successfully to SQL
File HELGOLAND/DE:DUENE uploaded successfully to SQL
File HERINGSDORF/DE uploaded successfully to SQL
File HIGH WYCOMBE/GB:AIR PARKER BOO uploaded successfully to SQL
File HOF/DE:PLAUEN uploaded successfully to SQL
File HOY/GB:LONGHOPE uploaded successfully to SQL
File HUESCA/ES:PIRINEOS uploaded successfully to SQL
File HUMBERSIDE/GB:HUMBERSIDE uploaded successfully to SQL
File HUSUM/DE:SCHWESING uploaded successfully to SQL
File IBIZA/ES:IBIZA uploaded successfully to SQL
File ILE D'YEU/FR uploaded successfully to SQL
File ILLESHEIM/DE uploaded successfully to SQL
File INGOLSTADT/DE:MANCHING uploaded successfully to SQL
File INVERNESS/GB:AIRPORT uploaded successfully to SQL
File ISLAY/GB uploaded successfully to SQL
File ISLES OF SCILLY/GB:ST MARYS uploaded successfully to SQL
File ISLE OF MAN/GB:RONALDSWAY uploaded successfully to SQL
File ITZEHOE/DE:EDHF AIRPORT uploaded successfully to SQL
File JEREZ/ES:JEREZ AIRPORT uploaded successfully to SQL
File JERSEY/GB:JERSEY uploaded successfully to SQL
File JUIST/DE uploaded successfully to SQL
File KARLSRUHE/BADEN BADEN/DE:BADEN uploaded successfully to SQL
File KASSEL/DE:CALDEN uploaded successfully to SQL
File KEMBLE/GB:COTSWOLD uploaded successfully to SQL
File KIEL/DE:HOLTENAU uploaded successfully to SQL
File KING'S LYNN/GB:MARHAM RAF uploaded successfully to SQL
File KIRKWALL/GB:KIRKWALL uploaded successfully to SQL
File KITZINGEN/DE uploaded successfully to SQL
File KOETHEN/DE:KOETHEN uploaded successfully to SQL
File LAHR/DE:BLACK FOREST uploaded successfully to SQL
File L'ALPE D'HUEZ/FR uploaded successfully to SQL
File LAMEZIA TERME/IT:LAMEZIA TERME uploaded successfully to SQL
File LAMPEDUSA/IT uploaded successfully to SQL
File LANDIVISIAU/FR uploaded successfully to SQL
File LAND'S END/GB:ST JUST uploaded successfully to SQL
File LANGEOOG/DE uploaded successfully to SQL
File LANNION/FR:LANNION uploaded successfully to SQL
File LANZAROTE/ES:LANZAROTE uploaded successfully to SQL
File L'AQUILA/IT:L'AQUILA uploaded successfully to SQL
File LAVAL/FR:ENTRAMMES uploaded successfully to SQL
File LA BAULE ESCOUBLAC/FR uploaded successfully to SQL
File LA ROCHELLE/FR:ILE DE RE uploaded successfully to SQL
File LA ROCHE SUR YON/FR:LES AJONCS uploaded successfully to SQL
File LECCE/IT:GALATINA uploaded successfully to SQL
File LEEDS BRADFORD/GB:AIRPORT uploaded successfully to SQL
File LEIPZIG/HALLE/DE:LEIPZIG/HALLE uploaded successfully to SQL
File LEMWERDER/DE uploaded successfully to SQL
File LEON/ES:LEON uploaded successfully to SQL
File LES SABLES-D'OLONNE/FR:TALMONT uploaded successfully to SQL
File LE CASTELLET/FR uploaded successfully to SQL
File LE HAVRE/FR:OCTEVILLE uploaded successfully to SQL
File LE MANS/FR:ARNAGE uploaded successfully to SQL
File LE PUY/FR:LOUDES uploaded successfully to SQL
File LE TOUQUET PARIS PLAGE/FR uploaded successfully to SQL
File LILLE/FR:LESQUIN uploaded successfully to SQL
File LIMOGES/FR:BELLEGARDE uploaded successfully to SQL
File LIVERPOOL/GB:JOHN LENNON uploaded successfully to SQL
File LLEIDA/ES:ALGUAIRE uploaded successfully to SQL
File LOGRONO/ES:AGONCILLO uploaded successfully to SQL
File LONDON/GB:BIGGIN HILL uploaded successfully to SQL
File LONDON/GB:CITY AIRPORT uploaded successfully to SQL
File LONDON/GB:GATWICK uploaded successfully to SQL
File LONDON/GB:HEATHROW uploaded successfully to SQL
File LONDON/GB:LUTON uploaded successfully to SQL
File LONDON/GB:SOUTHEND uploaded successfully to SQL
File LONDON/GB:STANSTED uploaded successfully to SQL
File LORIENT/FR:LANN BIHOUE uploaded successfully to SQL
File LOSSIEMOUTH/GB:RAF STATION uploaded successfully to SQL
File LOURDES TARBES/FR:PYRENEES uploaded successfully to SQL
File LUCCA/IT:TASSIGNANO uploaded successfully to SQL
File LYDD/GB:LONDON ASHFORD uploaded successfully to SQL
File LYNEHAM/GB:RAF STATION uploaded successfully to SQL
File LYON/FR:BRON uploaded successfully to SQL
File LYON/FR:GRENOBLE SAINT GEOIRS uploaded successfully to SQL
File LYON/FR:SAINT EXUPERY uploaded successfully to SQL
File MADRID/ES:ADOLFO SUAREZ BARAJA uploaded successfully to SQL
File MADRID/ES:TORREJON uploaded successfully to SQL
File MAGDEBURG/DE:COCHSTEDT uploaded successfully to SQL
File MALAGA/ES:MALAGA AIRPORT uploaded successfully to SQL
File MANCHESTER/GB:MANCHESTER AIRPO uploaded successfully to SQL
File MANNHEIM/DE:CITY AIRPORT uploaded successfully to SQL
File MANSTON/GB:KENT INTL uploaded successfully to SQL
File MARSEILLE/FR:PROVENCE uploaded successfully to SQL
File MEGEVE/FR uploaded successfully to SQL
File MELILLA/ES uploaded successfully to SQL
File MEMMINGEN/DE:ALLGAEU uploaded successfully to SQL
File MENDE/FR:BRENOUX uploaded successfully to SQL
File MENORCA/ES uploaded successfully to SQL
File MERIBEL/FR uploaded successfully to SQL
File METZ NANCY/FR:LORRAINE uploaded successfully to SQL
File METZ NANCY/FR:METZ-FRESCATY uploaded successfully to SQL
File METZ NANCY/FR:NANCY ESSEY uploaded successfully to SQL
File MILAN/IT:BERGAMO ORIO AL SERIO uploaded successfully to SQL
File MILAN/IT:LINATE uploaded successfully to SQL
File MILAN/IT:MALPENSA uploaded successfully to SQL
File MILAN/IT:PARMA uploaded successfully to SQL
File MILDENHALL/GB:RAF STATION uploaded successfully to SQL
File MONTLUCON/FR:GUERET uploaded successfully to SQL
File MONTPELLIER/FR:MEDITERRANEE uploaded successfully to SQL
File MONT DAUPHIN/FR:ST CREPIN uploaded successfully to SQL
File MORLAIX/FR:PLOUJEAN uploaded successfully to SQL
File MORON/ES:AIR BASE uploaded successfully to SQL
File MUENSTER/OSNABRUECK/DE:MUENSTE uploaded successfully to SQL
File MULHOUSE BASEL/FR:MULHOUSE EUR uploaded successfully to SQL
File MULL/GB uploaded successfully to SQL
File MUNICH/DE:AUGSBURG AIRPORT uploaded successfully to SQL
File MUNICH/DE:MUNICH INTERNATIONAL uploaded successfully to SQL
File MURCIA/ES:INTL REGION DE MURCI uploaded successfully to SQL
File MURCIA/ES:SAN JAVIER uploaded successfully to SQL
File NANTES/FR:ATLANTIQUE uploaded successfully to SQL
File NAPLES/IT:CAPODICHINO AIRPORT uploaded successfully to SQL
File NEUBRANDENBURG/DE:TROLLENHAGEN uploaded successfully to SQL
File NEUMUENSTER/DE uploaded successfully to SQL
File NEVERS/FR:FOURCHAMBAULT uploaded successfully to SQL
File NEWCASTLE/GB:INTERNATIONAL uploaded successfully to SQL
File NEWQUAY/GB:CORNWALL uploaded successfully to SQL
File NICE/FR:COTE D AZUR uploaded successfully to SQL
File NIMES/FR:GARONS uploaded successfully to SQL
File NIORT/FR:SOUCHE uploaded successfully to SQL
File NORDEN/DE:NORDDEICH uploaded successfully to SQL

File NORDERNEY/DE uploaded successfully to SQL
File NORTHAMPTON/GB:SYWELL uploaded successfully to SQL
File NORTHOLT/GB:RAF STATION uploaded successfully to SQL
File NORTH RONALDSAY/GB uploaded successfully to SQL
File NORWICH/GB:INTERNATIONAL uploaded successfully to SQL
File NOTTINGHAM/GB:EAST MIDLANDS uploaded successfully to SQL
File NOTTINGHAM/GB:NOTTINGHAM AIRPO uploaded successfully to SQL
File NUREMBERG/DE:NUREMBERG AIRPORT uploaded successfully to SQL
File OAKHAM/GB:COTTESMORE RAF uploaded successfully to SQL
File OBAN/GB:NORTH CONNEL uploaded successfully to SQL
File OBERPFAFFENHOFEN/DE uploaded successfully to SQL
File ODIHAM/GB:RAF STATION uploaded successfully to SQL
File OLBIA/IT:COSTA SMERALDA uploaded successfully to SQL
File ORISTANO/IT:FENOSU uploaded successfully to SQL
File ORLEANS/FR:ST DENIS DE L HOTEL uploaded successfully to SQL
File OUESSANT/FR:OUESSANT uploaded successfully to SQL
File OUT SKERRIES/GB uploaded successfully to SQL
File OXFORD/GB:LONDON OXFORD uploaded successfully to SQL
File PADERBORN/LIPPSTADT/DE:PADERBO uploaded successfully to SQL
File PALERMO/IT:PUNTA RAISI uploaded successfully to SQL
File PALMA DE MALLORCA/ES:PALMA DE uploaded successfully to SQL
File PAMPLONA/ES uploaded successfully to SQL
File PANTELLERIA/IT uploaded successfully to SQL
File PAPA STOUR/GB uploaded successfully to SQL
File PAPA WESTRAY/GB uploaded successfully to SQL
File PARIS/FR:BEAUVAIS TILLE uploaded successfully to SQL
File PARIS/FR:CHALONS VATRY uploaded successfully to SQL
File PARIS/FR:CHARLES DE GAULLE uploaded successfully to SQL
File PARIS/FR:LE BOURGET uploaded successfully to SQL
File PARIS/FR:ORLY uploaded successfully to SQL
File PARIS/FR:PONTOISE CORMEILLES uploaded successfully to SQL
File PARIS/FR:VILLACOUBLAY VELIZY uploaded successfully to SQL
File PAU/FR:PYRENEES uploaded successfully to SQL
File PEENEMUENDE/DE uploaded successfully to SQL
File PERIGUEUX/FR:BASSILLAC uploaded successfully to SQL
File PERPIGNAN/FR:RIVESALTES uploaded successfully to SQL
File PERTH/GB:SCONE uploaded successfully to SQL
File PERUGIA/IT:ST. FRANCIS OF ASSI uploaded successfully to SQL
File PESCARA/IT:ABRUZZO uploaded successfully to SQL
File PISA/IT:GALILEO GALILEI uploaded successfully to SQL
File PLYMOUTH/GB:CITY AIRPORT uploaded successfully to SQL
File POITIERS/FR:BIARD uploaded successfully to SQL
File PROPRIANO/FR uploaded successfully to SQL
File QUIMPER/FR:PLUGUFFAN uploaded successfully to SQL
File RAMSTEIN/DE:AIR BASE uploaded successfully to SQL
File RAVENNA/IT uploaded successfully to SQL
File RECHLIN/DE:LAERZ uploaded successfully to SQL
File REGGIO DI CALABRIA/IT uploaded successfully to SQL
File REIMS/FR:CHAMPAGNE uploaded successfully to SQL
File RENNES/FR:ST JACQUES uploaded successfully to SQL
File REUS/ES uploaded successfully to SQL
File RIESA/DE:GOEHLIS uploaded successfully to SQL
File RIMINI/IT:MIRAMARE uploaded successfully to SQL
File ROANNE/FR:RENAISON uploaded successfully to SQL
File ROCHEFORT/FR:SAINT AGNANT uploaded successfully to SQL
File ROCHESTER/GB uploaded successfully to SQL
File RODEZ/FR:MARCILLAC uploaded successfully to SQL
File ROME/IT:CIAMPINO uploaded successfully to SQL
File ROME/IT:FIUMICINO uploaded successfully to SQL
File ROSTOCK/DE:LAAGE uploaded successfully to SQL
File ROTA/ES:US NAVAL STATION uploaded successfully to SQL
File ROUEN/FR:VALLEE DE SEINE uploaded successfully to SQL
File ROYAN/FR:MEDIS uploaded successfully to SQL
File SAARBRUECKEN/DE:SAARBRUECKEN A uploaded successfully to SQL
File SAARBRUECKEN/DE:ZWEIBRUECKEN uploaded successfully to SQL
File SALAMANCA/ES:SALAMANCA AIRPORT uploaded successfully to SQL
File SALERNO/IT:PONTECAGNANO uploaded successfully to SQL
File SANDAY/GB uploaded successfully to SQL
File SANTANDER/ES:SANTANDER AIRPORT uploaded successfully to SQL
File SANTA CRUZ DE LA PALMA/ES:LA P uploaded successfully to SQL
File SANTIAGO DE COMPOSTELA/ES uploaded successfully to SQL
File SAN SEBASTIAN/ES:SAN SEBASTIAN uploaded successfully to SQL
File SAN SEBASTIAN GOMERA/ES:LA GOM uploaded successfully to SQL
File SCAMPTON/GB:RAF STATION uploaded successfully to SQL
File SCHLESWIG/DE:JAGEL uploaded successfully to SQL
File SCHWERIN/DE:PARCHIM uploaded successfully to SQL
File SEO DE URGEL/ES uploaded successfully to SQL
File SEVILLA/ES:SEVILLA AIRPORT uploaded successfully to SQL
File SHETLAND ISLANDS/GB:LERWICK/TI uploaded successfully to SQL
File SHETLAND ISLANDS/GB:SCATSTA uploaded successfully to SQL
File SHETLAND ISLANDS/GB:SUMBURGH uploaded successfully to SQL
File SHOREHAM BY SEA/GB uploaded successfully to SQL
File SIEGEN/DE:SIEGERLAND uploaded successfully to SQL
File SIENA/IT:AMPUGNANO uploaded successfully to SQL
File SIGONELLA/IT:NAS uploaded successfully to SQL
File SKYE/GB:BROADFORD uploaded successfully to SQL
File SOLENZARA/FR uploaded successfully to SQL
File SOUTHAMPTON/GB uploaded successfully to SQL
File SPANGDAHLEM/DE:AIR BASE uploaded successfully to SQL
File STORNOWAY/GB uploaded successfully to SQL
File STRALSUND/DE:BARTH uploaded successfully to SQL
File STRASBOURG/FR:ENTZHEIM uploaded successfully to SQL
File STRAUBING/DE:WALLMUEHLE uploaded successfully to SQL
File STRAUSBERG/DE uploaded successfully to SQL
File STRONSAY/GB uploaded successfully to SQL
File STUTTGART/DE:STUTTGART AIRPORT uploaded successfully to SQL
File ST ANDREWS/GB:LEUCHARS RAF uploaded successfully to SQL
File ST BRIEUC/FR:ARMOR uploaded successfully to SQL
File ST ETIENNE/FR:BOUTHEON uploaded successfully to SQL
File ST NAZAIRE/FR:MONTOIR uploaded successfully to SQL
File ST PETER ORDING/DE uploaded successfully to SQL
File ST TROPEZ/FR:LA MOLE uploaded successfully to SQL
File ST YAN/FR uploaded successfully to SQL
File SWANSEA/GB uploaded successfully to SQL
File TARANTO/IT:GROTTAGLIE uploaded successfully to SQL
File TEESSIDE/GB:TEESSIDE INTERNATI uploaded successfully to SQL
File TENERIFE/ES:TENERIFE NORTE uploaded successfully to SQL
File TENERIFE/ES:TENERIFE SUR uploaded successfully to SQL
File TERUEL/ES:AIRPORT uploaded successfully to SQL
File TIREE/GB uploaded successfully to SQL
File TORTOLI/IT:ARBATAX uploaded successfully to SQL
File TOULON/HYERES/FR:LA PALYVESTRE uploaded successfully to SQL
File TOULOUSE/FR:BLAGNAC uploaded successfully to SQL
File TOURS/FR:VAL DE LOIRE uploaded successfully to SQL
File TOUSSUS LE NOBLE/FR:TOUSSUS LE uploaded successfully to SQL
File TRAPANI/IT:BIRGI uploaded successfully to SQL
File TRIESTE/IT:RONCHI DEI LEGIONAR uploaded successfully to SQL
File TURIN/IT:CASELLE uploaded successfully to SQL
File UDINE/IT:CAMPOFORMIDO uploaded successfully to SQL
File UNST/GB:BALTASOUND uploaded successfully to SQL
File UPAVON/GB uploaded successfully to SQL
File VAL-D'ISERE/FR:VAL-D'ISERE uploaded successfully to SQL
File VALENCE/FR:CHABEUIL uploaded successfully to SQL
File VALENCIA/ES:VALENCIA AIRPORT uploaded successfully to SQL
File VALLADOLID/ES:AIRPORT uploaded successfully to SQL
File VALVERDE/ES:EL HIERRO uploaded successfully to SQL
File VANNES/FR:MEUCON uploaded successfully to SQL
File VARRELBUSCH/DE uploaded successfully to SQL
File VENICE/IT:MARCO POLO uploaded successfully to SQL
File VENICE/IT:TREVISO SANT ANGELO uploaded successfully to SQL
File VERONA/IT:BRESCIA MONTECHIARI uploaded successfully to SQL
File VERONA/IT:VILLAFRANCA uploaded successfully to SQL
File VICENZA/IT uploaded successfully to SQL
File VICHY/FR:CHARMEIL uploaded successfully to SQL
File VIGO/ES:VIGO AIRPORT uploaded successfully to SQL
File VITORIA/ES uploaded successfully to SQL
File VITTEL/FR:CHAMP DE COURSES uploaded successfully to SQL
File WADDINGTON/GB:RAF STATION uploaded successfully to SQL
File WANGEROOGE/DE uploaded successfully to SQL
File WARTON/GB uploaded successfully to SQL
File WESTERLAND/DE:SYLT uploaded successfully to SQL
File WESTRAY/GB uploaded successfully to SQL
File WHALSAY/GB uploaded successfully to SQL
File WICK/GB uploaded successfully to SQL
File WIESBADEN/DE:AAF uploaded successfully to SQL
File WILHELMSHAVEN/DE:MARIENSIEL uploaded successfully to SQL
File WOODFORD/GB:WOODFORD uploaded successfully to SQL
File WYK AUF FOEHR/DE uploaded successfully to SQL
File WYTON/GB:RAF STATION uploaded successfully to SQL

File YEOVILTON/GB:ROYAL NAVAL AIR S uploaded successfully to SQL
File ZARAGOZA/ES:ZARAGOZA uploaded successfully to SQL

#### Parte 2
##### Crea un diagrama de relaciones (Puedes utilizar Miro, por ejemplo) indicando que tabla se relaciona con cual y que campos con cuales. Esto te ayudar√° a resolver la parte 3

In [12]:
dba = mysql.connector.connect(
    host='iosqlde.onairnet.xyz',
    user='vienna_airport',
    password='Vie23@#@',
    database='aeropuerto_viena'
)

def sql(_query):
    return pd.read_sql_query(_query, dba)

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

¬øCuantos litros se han repostado en cada zona operacional? Ord√©nalo de menor a mayor

In [6]:
sql(f"""
    SELECT zonas_operacionales.nombre, SUM(repostajes.litros) as litros_repostados
        FROM zonas_operacionales
    INNER JOIN gasolineras ON zonas_operacionales.id = gasolineras.id_zona
    INNER JOIN repostajes ON gasolineras.id = repostajes.id_gasolinera
    GROUP BY zonas_operacionales.id
    ORDER BY litros_repostados ASC;'
            )
        """   )

NameError: name 'sql' is not defined

¬øCu√°ntos veh√≠culos han repostado m√°s de 5L de RyanairHandling en la zona operacional A?¬øY en la E?

In [198]:
sql(f"""
SELECT zonas_operacionales.id, zonas_operacionales.nombre, COUNT(DISTINCT vehiculos.id) as total_vehiculos
    FROM repostajes
INNER JOIN vehiculos ON repostajes.id_vehiculo = vehiculos.id
INNER JOIN handling ON vehiculos.id_handling = handling.id
INNER JOIN gasolineras ON repostajes.id_gasolinera = gasolineras.id
INNER JOIN zonas_operacionales ON gasolineras.id_zona = zonas_operacionales.id
    WHERE handling.nombre = 'RYANAIR HANDLING' AND repostajes.litros > 5
GROUP BY zonas_operacionales.id, zonas_operacionales.nombre;
            )
        """   )

   id  nombre  total_vehiculos
0   1  ZONA A               26
1   2  ZONA B               20
2   3  ZONA C               22
3   4  ZONA D               25
4   5  ZONA E               27

¬øCu√°ntos veh√≠culos de media dan servicio a cada vuelo?

In [119]:
sql(f"""
SELECT AVG(num_vehiculos) as media_vehiculos_vuelo
    FROM (
        SELECT vuelos.id, COUNT(DISTINCT servicios.id_vehiculo) as num_vehiculos
        FROM vuelos
        JOIN servicios ON vuelos.id = servicios.id_vuelo
        JOIN vehiculos ON servicios.id_vehiculo = vehiculos.id
        GROUP BY vuelos.id
    ) as med;
        """   )

   media_vehiculos_vuelo
0                 3.9367

¬øCu√°l es el mayor operador de handling cada mes por cantidad de minutos de servicio prestados?

In [146]:
sql(f"""
SELECT 
    t.id,
    t.nombre,
    t.mes,
    t.minutos_prestados
FROM (
    SELECT 
        handling.id,
        handling.nombre,
        MONTH(vuelos.fecha) as mes,
        SUM(servicios.minutos) as minutos_prestados,
        ROW_NUMBER() OVER (PARTITION BY MONTH(vuelos.fecha) ORDER BY SUM(servicios.minutos) DESC) as rn
    FROM 
        vuelos 
        JOIN servicios ON vuelos.id = servicios.id_vuelo 
        JOIN vehiculos ON servicios.id_vehiculo = vehiculos.id 
        JOIN handling ON vehiculos.id_handling = handling.id 
    GROUP BY 
        handling.id,
        handling.nombre,
        MONTH(vuelos.fecha)
) t
WHERE t.rn = 1
ORDER BY t.mes ASC;
            )
        """   )

    id           nombre  mes  minutos_prestados
0    1  VIENNA HANDLING    1             8022.0
1    1  VIENNA HANDLING    2             7458.0
2    1  VIENNA HANDLING    3             8017.0
3    5     EASYHANDLING    4             6504.0
4    1  VIENNA HANDLING    5             8940.0
5    1  VIENNA HANDLING    6             7630.0
6    1  VIENNA HANDLING    7             7728.0
7    1  VIENNA HANDLING    8             7633.0
8    1  VIENNA HANDLING    9             7611.0
9    1  VIENNA HANDLING   10             7457.0
10   1  VIENNA HANDLING   11             7706.0
11   1  VIENNA HANDLING   12             6656.0

Teniendo en cuenta que cada hora de servicio se factura a 60‚Ç¨, ¬øCu√°l es el beneficio por veh√≠culo por cada empresa de handling?(Ten en cuenta que el combustible es un coste para ese veh√≠culo)

In [154]:
sql(f"""
SELECT 
    handling.id AS id_handling,
    handling.nombre AS nombre_handling,
    SUM(repostajes.litros * repostajes.precio_litro) AS coste_combustible,
    (SUM(servicios.minutos) / 60) * 60 AS ingreso_servicio,
    ((SUM(servicios.minutos) / 60) * 60) - SUM(repostajes.litros * repostajes.precio_litro) AS beneficio
FROM 
    vehiculos 
    JOIN handling ON vehiculos.id_handling = handling.id 
    JOIN servicios ON vehiculos.id = servicios.id_vehiculo 
    JOIN (
        SELECT 
            id_vehiculo, 
            SUM(litros) AS litros, 
            AVG(precio_litro) AS precio_litro 
        FROM 
            repostajes 
        GROUP BY 
            id_vehiculo
    ) AS repostajes ON vehiculos.id = repostajes.id_vehiculo
GROUP BY 
    handling.id, 
    handling.nombre;
        """   )

,id_handling,nombre_handling,coste_combustible,ingreso_servicio,beneficio
0,4,RYANAIR HANDLING,200991.208006,78172.0,-122819.208006
1,2,GROUND FORCE,195474.473966,68256.0,-127218.473966
2,1,VIENNA HANDLING,261209.985067,88942.0,-172267.985067
3,5,EASYHANDLING,183529.327775,74723.0,-108806.327776
4,3,SWISSPORT,176787.083367,66616.0,-110171.083367

¬øCu√°nto tiempo est√° ocupada cada posici√≥n de media en cada zona operacional?

In [161]:
sql(f"""
SELECT zonas_operacionales.nombre AS zona_operacional, vehiculos.tipo AS tipo_vehiculo, AVG(servicios.minutos) AS tiempo_medio_ocupacion
FROM zonas_operacionales
INNER JOIN vehiculos ON zonas_operacionales.id = vehiculos.id_zona
INNER JOIN servicios ON vehiculos.id = servicios.id_vehiculo
GROUP BY zonas_operacionales.nombre, vehiculos.tipo;
        """   )

   zona_operacional        tipo_vehiculo  tiempo_medio_ocupacion
0            ZONA E    Coche de servicio                 33.3098
1            ZONA E     Tractor equipaje                 32.1183
2            ZONA E  Cami√≥n de repostaje                 31.9087
3            ZONA E             Ambulift                 32.8600
4            ZONA B             Escalera                 31.5484
5            ZONA B        Cinta Maletas                 34.1611
6            ZONA B  Cami√≥n de repostaje                 32.2903
7            ZONA B             Ambulift                 32.8817
8            ZONA B    Autobus Lanzadera                 33.5617
9            ZONA B             Pushback                 31.4200
10           ZONA A     Tractor equipaje                 32.3485
11           ZONA A    Coche de servicio                 31.1988
12           ZONA A             Pushback                 31.9401
13           ZONA D             Escalera                 33.5265
14           ZONA D             Ambulift                 31.3766
15           ZONA D    Coche de servicio                 31.8458
16           ZONA D        Cinta Maletas                 33.2390
17           ZONA D  Cami√≥n de repostaje                 33.0599
18           ZONA D             Pushback                 29.9892
19           ZONA D    Autobus Lanzadera                 32.6702
20           ZONA C  Cami√≥n de repostaje                 31.8017
21           ZONA C    Coche de servicio                 34.6118
22           ZONA C    Autobus Lanzadera                 32.7094
23           ZONA A    Autobus Lanzadera                 31.5075
24           ZONA A        Cinta Maletas                 31.9366
25           ZONA B    Coche de servicio                 32.4606
26           ZONA E             Escalera                 32.8291
27           ZONA C     Tractor equipaje                 32.2283
28           ZONA C             Ambulift                 34.8351
29           ZONA D     Tractor equipaje                 31.0859
30           ZONA A             Ambulift                 33.4762
31           ZONA E    Autobus Lanzadera                 32.7347
32           ZONA C        Cinta Maletas                 32.5963
33           ZONA B     Tractor equipaje                 33.8610
34           ZONA E             Pushback                 29.7247
35           ZONA A             Escalera                 33.8029
36           ZONA C             Pushback                 31.9480
37           ZONA C             Escalera                 33.7633
38           ZONA A  Cami√≥n de repostaje                 33.2230
39           ZONA E        Cinta Maletas                 32.5458

¬øCu√°ntas posiciones tiene cada zona operacional?

In [162]:
sql(f"""
SELECT zo.nombre AS zona_operacional, COUNT(*) AS num_posiciones
FROM zonas_operacionales zo
JOIN posiciones p ON zo.id = p.zone_id
GROUP BY zo.nombre;
        """   )

  zona_operacional  num_posiciones
0           ZONA A              78
1           ZONA E              74
2           ZONA B              71
3           ZONA D              64
4           ZONA C              63

¬øCu√°ntas posiciones ha servido cada veh√≠culo?

In [166]:
sql(f"""
SELECT v.matricula, COUNT(p.id) AS num_posiciones_servidas
FROM vehiculos v
INNER JOIN servicios s ON v.id = s.id_vehiculo
INNER JOIN vuelos vl ON s.id_vuelo = vl.id
INNER JOIN posiciones p ON vl.id_posicion = p.id
GROUP BY v.matricula;
        """   )

    matricula  num_posiciones_servidas
0     8984DSR                       23
1     6915VHD                       13
2     3464MYB                       28
3     2078YZZ                       26
4     7028ZUT                       21
..        ...                      ...
598   6616XDP                       11
599   4443JCG                       17
600   9760SRY                       14
601   0130OCT                       13
602   2304TWE                        8

[603 rows x 2 columns]

¬øCu√°ntas puertas de embarque tiene cada terminal?

In [169]:
sql(f"""
SELECT t.nombre AS terminal, COUNT(g.id) AS num_puertas
FROM terminales t
LEFT JOIN gates g ON t.id = g.id_terminal
GROUP BY t.id;
        """   )

     terminal  num_puertas
0  Terminal 1           56
1  Terminal 2           47

¬øCu√°ntas puertas de embarque pueden dar servicio a posiciones remotas?¬øY a posiciones con finger?¬øY a ambas?

In [175]:
sql(f"""
SELECT 
    SUM(CASE WHEN g.posicion_remota = 1 THEN 1 ELSE 0 END) AS puertas_remotas,
    SUM(CASE WHEN g.posicion_puerta = 1 THEN 1 ELSE 0 END) AS puertas_finger,
    SUM(CASE WHEN g.posicion_remota = 1 AND g.posicion_puerta = 1 THEN 1 ELSE 0 END) AS ambas
FROM 
    gates g
JOIN 
    posiciones p ON g.id_terminal = p.id;
        """   )

   puertas_remotas  puertas_finger  ambas
0            103.0            47.0   47.0

¬øCu√°ntos tipos de posiciones tiene cada zona operacional?

In [176]:
sql(f"""
SELECT zo.nombre, COUNT(DISTINCT p.tipo) AS num_tipos
FROM zonas_operacionales zo
JOIN posiciones p ON zo.id = p.zone_id
GROUP BY zo.id;
        """   )

   nombre  num_tipos
0  ZONA A          4
1  ZONA B          4
2  ZONA C          4
3  ZONA D          4
4  ZONA E          4

¬øCu√°l es el ratio de veh√≠culos de cada tipo con respecto a cada tipo de posici√≥n?

In [206]:
sql(f"""
SELECT v.tipo AS tipo_vehiculo, p.tipo AS tipo_posicion, 
       COUNT(*) / (SELECT COUNT(*) FROM vehiculos WHERE id_zona = p.zone_id) AS ratio
FROM vehiculos v
JOIN posiciones p ON v.id_zona = p.zone_id
GROUP BY v.tipo, p.tipo, p.zone_id;
        """   )

         tipo_vehiculo tipo_posicion   ratio
0    Autobus Lanzadera       STAND S  3.0732
1    Autobus Lanzadera      STAND XL  2.7805
2    Autobus Lanzadera       STAND M  1.7561
3    Autobus Lanzadera       STAND L  3.2195
4    Coche de servicio       STAND S  3.5000
..                 ...           ...     ...
155  Autobus Lanzadera      STAND XL  1.7544
156           Ambulift      STAND XL  1.7857
157           Ambulift       STAND S  1.6071
158           Ambulift       STAND M  1.3393
159           Ambulift       STAND L  0.9821

[160 rows x 3 columns]

¬øCu√°ntos vuelos han tenido servico de un ambulift the swiss port?

In [210]:
sql(f"""
SELECT COUNT(DISTINCT v.id) as ambulift_swiss_port
FROM vuelos v
JOIN servicios s ON v.id = s.id_vuelo
JOIN vehiculos ve ON s.id_vehiculo = ve.id
JOIN handling h ON ve.id_handling = h.id
WHERE ve.tipo = 'ambulift' AND h.nombre = 'Swissport';
        """   )

   ambulift_swiss_port
0                  210